In [1]:
import numpy as np
import pandas as pd
import sqlite3 as sql

In [2]:
from modules.PPFilterTransform import addFilterMag
from modules.PPAddUncertainties import addUncertainties
from modules.PPRandomize import randomizeAstrometry, randomizePhotometry

In [3]:
def getSqlData(database,rows_start,nrows):
    """Import dataset from local SQL database
    
    Parameters:
    -----------
    database   ... path to database
    rows_start ... number of row to start
    rows_max   ... number of rows to select
    
    Returns:
    --------
    observations ... pandas dataframe containing observations from JPL database
    """
    con = sql.connect(database)
    observations = pd.read_sql("""SELECT * FROM SummaryAllProps LIMIT """+str(rows_start)+','+str(nrows), con)
    return observations

In [4]:
db_path    = "../objectsInField/test/baseline_2snaps_v1.5_10yrs.db"
pop_path   = "../objectsInField/test/S1_00_test.s3m"
ephem_path = "test.dat"

In [5]:
LSSTdf  = getSqlData(db_path,0,220000)
popdf   = pd.read_csv(pop_path, sep='\s+')
ephemdf = pd.read_csv('test.dat', sep='\s+')

In [7]:
ephemdf_filters = addFilterMag(ephemdf, LSSTdf, popdf)

In [11]:
ephemdf_filters[['ObjID', 'FieldID', 'V', 'Filtermag']]

        ObjID  FieldID       V  Filtermag
0   S100000qa      305  19.717     19.414
1   S100000qa      338  19.717     19.414
2   S1000015a      315  17.976     17.570
3   S1000015a      348  17.977     17.571
4   S1000015a      951  17.998     17.592
5   S1000015a      952  17.998     17.592
6   S1000015a      984  17.999     17.593
7   S1000015a      985  17.999     17.593
8   S100001qa      202  17.351     16.945
9   S100001qa      235  17.352     16.946
10  S100001qa      244  17.352     16.946
11  S100001qa      277  17.352     16.946
12  S100001ua      247  17.766     17.463
13  S100001ua      280  17.766     17.463